#chat [class=mes_text] img { display: block; border-radius: 8px; margin: 0 auto; }
/* default all positions to female image */
.Eve { aspect-ratio: 832 / 1216; min-height: 200px; max-height: 400px; margin: 0 auto; background: center / contain no-repeat url(about:blank); transition: none !important; background-color: transparent !important; border-radius: 8px; }

/* (wip) sfw images */
.Eve:is(.sit, .cuddle, .seiza, .wariza) { aspect-ratio: 1216 / 832; }
.Eve.Eve.sit { background-image: url(https://files.sillie.st/VDzlA.png); }
.Eve.Eve.sit.first-trimester { background-image: url(https://files.sillie.st/eVVA6.png); }
.Eve.Eve.sit.second-trimester { background-image: url(https://files.sillie.st/MQWB0.png); }
.Eve.Eve.sit.third-trimester { background-image: url(https://files.sillie.st/hbFqN.png); }
.Eve:is(.futa, .mtf.mtf).sit { background-image: url(https://files.sillie.st/SQ86D.png); }
.Eve.futa.sit.first-trimester { background-image: url(https://files.sillie.st/KyglO.png); }
.Eve.futa.sit.second-trimester { background-image: url(https://files.sillie.st/dXTCa.png); }
.Eve.futa.sit.third-trimester { background-image: url(https://files.sillie.st/u1cZj.png); }

.Eve.Eve.cuddle { background-image: url(https://files.sillie.st/6Kthj.png); }
.Eve:is(.male, .ftm).cuddle { background-image: url(); }

.Eve.Eve.seiza { background-image: url(https://files.sillie.st/Ppfjk.png); }
.Eve.Eve.seiza.first-trimester { background-image: url(https://files.sillie.st/BbqxO.png); }
.Eve.Eve.seiza.second-trimester { background-image: url(); }
.Eve.Eve.seiza.third-trimester { background-image: url(); }
.Eve:is(.futa, .mtf.mtf).seiza { background-image: url(https://files.sillie.st/qw3H4.png); }
.Eve.futa.seiza.first-trimester { background-image: url(); }
.Eve.futa.seiza.second-trimester { background-image: url(); }
.Eve.futa.seiza.third-trimester { background-image: url(); }

.Eve.Eve.wariza { background-image: url(); }
.Eve.Eve.wariza.first-trimester { background-image: url(https://files.sillie.st/AkHga.png); }
.Eve.Eve.wariza.second-trimester { background-image: url(); }
.Eve.Eve.wariza.third-trimester { background-image: url(); }
.Eve:is(.futa, .mtf.mtf).wariza { background-image: url(); }
.Eve.futa.wariza.first-trimester { background-image: url(); }
.Eve.futa.wariza.second-trimester { background-image: url(https://files.sillie.st/KDGSe.png); }
.Eve.futa.wariza.third-trimester { background-image: url(https://files.sillie.st/88YlP.png); }

/* spicy images */
/* notes: gender defaults to female. defaults are replaced with .{char} to preserve specifity. male .anal is replaced with .{char} to catch invalid states */
.Eve.Eve.missionary { background-image: url(https://files.sillie.st/JTQ4C.png); }
.Eve.Eve.missionary.conception { background-image: url(https://files.sillie.st/QRe2N.png); }
.Eve.Eve.missionary.first-trimester { background-image: url(https://files.sillie.st/vIgBs.png); }
.Eve.Eve.missionary.second-trimester { background-image: url(https://files.sillie.st/bS1wL.png); }
.Eve.Eve.missionary.third-trimester { background-image: url(https://files.sillie.st/cSO96.png); }
.Eve.Eve.missionary.anal { background-image: url(https://files.sillie.st/Ty2l2.png); }
.Eve.Eve.missionary.anal.first-trimester { background-image: url(https://files.sillie.st/Yu9s8.png); }
.Eve.Eve.missionary.anal.second-trimester { background-image: url(https://files.sillie.st/bSQGR.png); }
.Eve.Eve.missionary.anal.third-trimester { background-image: url(https://files.sillie.st/cNnNV.png); }

.Eve:is(.futa, .mtf).missionary { background-image: url(https://files.sillie.st/MWwHW.png); }
.Eve.futa.missionary.conception { background-image: url(https://files.sillie.st/uvwHa.png); }
.Eve.futa.missionary.first-trimester { background-image: url(https://files.sillie.st/EM705.png); }
.Eve.futa.missionary.second-trimester { background-image: url(https://files.sillie.st/1BKuq.png); }
.Eve.futa.missionary.third-trimester { background-image: url(https://files.sillie.st/cNuGY.png); }
.Eve:is(.futa, .mtf).missionary.anal { background-image: url(https://files.sillie.st/aNFC6.png); }
.Eve.futa.missionary.anal.first-trimester { background-image: url(https://files.sillie.st/4ZsT3.png); }
.Eve.futa.missionary.anal.second-trimester { background-image: url(https://files.sillie.st/nXa4Z.png); }
.Eve.futa.missionary.anal.third-trimester { background-image: url(https://files.sillie.st/ZbyoB.png); }

.Eve.ftm.missionary { background-image: url(https://files.sillie.st/7teO5.png); }
.Eve.ftm.missionary.conception { background-image: url(https://files.sillie.st/6afMe.png); }
.Eve.ftm.missionary.first-trimester { background-image: url(https://files.sillie.st/lN74L.png); }
.Eve.ftm.missionary.second-trimester { background-image: url(https://files.sillie.st/z9VnS.png); }
.Eve.ftm.missionary.third-trimester { background-image: url(https://files.sillie.st/il2X2.png); }
.Eve.ftm.missionary.anal { background-image: url(https://files.sillie.st/iv0sO.png); }
.Eve.ftm.missionary.anal.first-trimester { background-image: url(https://files.sillie.st/mcEiQ.png); }
.Eve.ftm.missionary.anal.second-trimester { background-image: url(https://files.sillie.st/b1ogk.png); }
.Eve.ftm.missionary.anal.third-trimester { background-image: url(https://files.sillie.st/sb4OR.png); }

.Eve.male.missionary.Eve { background-image: url(https://files.sillie.st/Wem1m.png); }

.Eve.Eve.doggy { background-image: url(https://files.sillie.st/I1Ec3.png); }
.Eve.Eve.doggy.conception { background-image: url(https://files.sillie.st/VuwGl.png); }
.Eve.Eve.doggy.third-trimester { background-image: url(https://files.sillie.st/BKufr.png); }
.Eve.Eve.doggy.anal { background-image: url(https://files.sillie.st/ScVZZ.png); }
.Eve.Eve.doggy.anal.third-trimester { background-image: url(https://files.sillie.st/fJAI2.png); }

.Eve:is(.futa, .mtf).doggy { background-image: url(https://files.sillie.st/5t4nN.png); }
.Eve.futa.doggy.conception { background-image: url(https://files.sillie.st/gkkpA.png); }

.Eve.ftm.doggy { background-image: url(https://files.sillie.st/hn1J9.png); }
.Eve.ftm.doggy.conception { background-image: url(https://files.sillie.st/VXpSQ.png); }
.Eve.ftm.doggy.third-trimester { background-image: url(https://files.sillie.st/JG2hJ.png); }
.Eve.ftm.doggy.anal { background-image: url(https://files.sillie.st/TtBh4.png); }
.Eve.ftm.doggy.anal.third-trimester { background-image: url(https://files.sillie.st/CYPpX.png); }

.Eve.male.doggy.Eve { background-image: url(https://files.sillie.st/kDqBU.png); }

.Eve.Eve.cowgirl { background-image: url(https://files.sillie.st/NabSW.png); }
.Eve.Eve.cowgirl.conception { background-image: url(https://files.sillie.st/jJB2x.png); }
.Eve.Eve.cowgirl.first-trimester { background-image: url(https://files.sillie.st/ZoqP8.png); }
.Eve.Eve.cowgirl.second-trimester { background-image: url(https://files.sillie.st/UqPDI.png); }
.Eve.Eve.cowgirl.third-trimester { background-image: url(https://files.sillie.st/Dwpq7.png); }
.Eve.Eve.cowgirl.anal { background-image: url(https://files.sillie.st/UkZCt.png); }
.Eve.Eve.cowgirl.anal.first-trimester { background-image: url(https://files.sillie.st/tr1eW.png); }
.Eve.Eve.cowgirl.anal.second-trimester { background-image: url(https://files.sillie.st/CSbxC.png); }
.Eve.Eve.cowgirl.anal.third-trimester { background-image: url(https://files.sillie.st/JBuOP.png); }

.Eve:is(.futa, .mtf).cowgirl { background-image: url(https://files.sillie.st/jpBTu.png); }
.Eve.futa.cowgirl.conception { background-image: url(https://files.sillie.st/lAQuN.png); }
.Eve.futa.cowgirl.first-trimester { background-image: url(https://files.sillie.st/eYPdR.png); }
.Eve.futa.cowgirl.second-trimester { background-image: url(https://files.sillie.st/dathG.png); }
.Eve.futa.cowgirl.third-trimester { background-image: url(https://files.sillie.st/o73Md.png); }
.Eve:is(.futa, .mtf).cowgirl.anal { background-image: url(https://files.sillie.st/4H3Ef.png); }
.Eve.futa.cowgirl.anal.first-trimester { background-image: url(https://files.sillie.st/syHBo.png); }
.Eve.futa.cowgirl.anal.second-trimester { background-image: url(https://files.sillie.st/be0Ih.png); }
.Eve.futa.cowgirl.anal.third-trimester { background-image: url(https://files.sillie.st/tGYqg.png); }

.Eve.ftm.cowgirl { background-image: url(https://files.sillie.st/tEod4.png); }
.Eve.ftm.cowgirl.conception { background-image: url(https://files.sillie.st/wupGq.png); }
.Eve.ftm.cowgirl.first-trimester { background-image: url(https://files.sillie.st/hn0qJ.png); }
.Eve.ftm.cowgirl.second-trimester { background-image: url(https://files.sillie.st/fn4Cm.png); }
.Eve.ftm.cowgirl.third-trimester { background-image: url(https://files.sillie.st/GrT61.png); }
.Eve.ftm.cowgirl.anal { background-image: url(https://files.sillie.st/44k7e.png); }
.Eve.ftm.cowgirl.anal.first-trimester { background-image: url(https://files.sillie.st/5nN9g.png); }
.Eve.ftm.cowgirl.anal.second-trimester { background-image: url(https://files.sillie.st/CfoqK.png); }
.Eve.ftm.cowgirl.anal.third-trimester { background-image: url(https://files.sillie.st/11iHq.png); }

.Eve.male.cowgirl.Eve { background-image: url(https://files.sillie.st/TIADH.png); }

.Eve.Eve.reverse-cowgirl { background-image: url(https://files.sillie.st/qe77L.png); }
.Eve.Eve.reverse-cowgirl.conception { background-image: url(https://files.sillie.st/G28Co.png); }
.Eve.Eve.reverse-cowgirl.third-trimester { background-image: url(https://files.sillie.st/yW1Np.png); }
.Eve.Eve.reverse-cowgirl.anal { background-image: url(https://files.sillie.st/zgxPr.png); }
.Eve.Eve.reverse-cowgirl.anal.third-trimester { background-image: url(https://files.sillie.st/tHf24.png); }

.Eve:is(.futa, .mtf).reverse-cowgirl { background-image: url(https://files.sillie.st/zTwfH.png); }
.Eve:is(.futa, .mtf).reverse-cowgirl.anal { background-image: url(https://files.sillie.st/LXyt9.png); }

.Eve.ftm.reverse-cowgirl { background-image: url(https://files.sillie.st/kCM14.png); }
.Eve.ftm.reverse-cowgirl.conception { background-image: url(https://files.sillie.st/l8TL3.png); }
.Eve.ftm.reverse-cowgirl.third-trimester { background-image: url(https://files.sillie.st/oOy9R.png); }
.Eve.ftm.reverse-cowgirl.anal { background-image: url(https://files.sillie.st/5g9nf.png); }
.Eve.ftm.reverse-cowgirl.anal.third-trimester { background-image: url(https://files.sillie.st/dT2gd.png); }

.Eve.male.reverse-cowgirl.Eve { background-image: url(https://files.sillie.st/Mfbxp.png); }
